$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 420px;

@media (max-width: $xxl) {
}
@media (max-width: $xl) {
}
@media (max-width: $lg) {
}
@media (max-width: $md) {
}
@media (max-width: $sm) {
}
@media (max-width: $xs) {
}
