// Fonts
// @font-face {
//   font-family: "JetBrains Mono";
//   src: url("../fonts/JetBrainsMono/JetBrainsMono-Regular.ttf") format("truetype");
//   font-weight: normal;
// }
// @font-face {
//   font-family: "JetBrains Mono";
//   src: url("../fonts/JetBrainsMono/JetBrainsMono-Medium.ttf") format("truetype");
//   font-weight: medium;
// }
// $jetBrainsMono: "JetBrains Mono";

// Colors
$light: #fafaff;
$primary: #2932df;
$secondary: #6eacfa;
$accent: #fbb5d2;
$dark: #140833;

// Shadow
$shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
